.container {
  display: flex;
  border: 2px solid red;
  width: 90%;
  height: 50px;
  margin: auto;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  margin-right: 70px;
  background-color: aqua;
}
